/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Fascinate Inline", system-ui;
    color: white;
    font-size: 400%;
    margin: 10px;
}

.mastermind {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Plateau */
.board {
    width: 400px;
    height: 675px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(110, 110, 110);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 0 20px 160px;
    box-shadow: 0px 0px 5px 0px white;

}

.board-container {
    display: flex; /* Aligne le tableau et les résultats des pins horizontalement */
    justify-content: space-between; /* Espace entre le tableau et les résultats */
    width: 100%; /* Ajustez selon vos besoins */
}

.attempts-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.attempt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.attempt .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.result-pins-container {
    width: 160px;
    min-height: 35px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
    align-self: flex-start;
}

.result-pins-container .result-pins {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    padding: 10px;
    margin-top: 16px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(110, 110, 110);
    box-shadow: 0px 0px 5px 0px white;
}

.result-pins-container .pin {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
}

.result-pins-container .pin.black {
    background-color: black;
}

.result-pins-container .pin.white {
    background-color: white;
}

/* Contrôles */
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.palette {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.palette .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px white;
}

.palette .circle:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: background-color 0.2s;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background-color: rgb(110, 110, 110);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    border: 2px solid white;
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.current-combination {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    justify-content: space-between;
    width: 80%;
}

.current-combination .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white; 
}

.config {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.config label{
    color: white;
    font-size: 20px;
    margin: 10px
}

.config input {
    font-size: 1rem;
    width: 60px;
    text-align: center;
    margin-right: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px
}

.config button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: background-color 0.2s;
}

.config button:hover {
    background-color: white;
    color: black;
}

.config-choix{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    flex-direction: column;
}

.config-choix-ligne{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.secret-combination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px; /* Ajustez selon vos besoins */
}

.secret-combination .circle {
    width: 40px; /* Ajustez la taille si nécessaire */
    height: 40px;
    border-radius: 50%;
    border: 2px solid white; /* Pour garder la cohérence avec les autres cercles */
}

.rules-container{
    display: flex;
    align-items: center;
}