* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Assurer que le body prend toute la hauteur et dispose les éléments correctement */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

/* Styles pour la barre de navigation */
header {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Le contenu principal doit prendre tout l'espace disponible */
main {
    flex-grow: 1;
    margin: 300px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le footer pour qu'il reste en bas */
footer {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    color: #beffa5;
    width: 100%;
    z-index: 2; /* Assure que le footer reste au-dessus */
    height: auto; /* Laisse la hauteur du footer être déterminée par la hauteur du SVG */
    position: relative; /* Change back to relative positioning */
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

footer h1 {
    position: relative;
    z-index: 1;
    font-size: 35px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0d2000;
    padding: 25px;
    margin-top: 145px;
    font-family: "Kaushan Script", cursive;
    border-radius: 20px;
    width: 90%;
    position: fixed; /* relative pour que le contenu puisse se positionner correctement avec le SVG */
    z-index: 100; /* Pour que la barre de navigation soit devant le SVG */
    transition: transform 0.3s ease-in-out;
}

nav.hidden {
    transform: translateY(-100%);
}

nav h1 {
    color: #beffa5;
    font-size: 40px;
}

nav a,
footer .colonne a[download="CV Zakrzewski Raphaël"] {
    text-decoration: none;
    background-color: #beffa5;
    color: #0d2000;
    padding: 7px 12px 7px 7px;
    border-radius: 15px;
    border: 0;
    font-size: 22px;
    font-family: "Kaushan Script", cursive;
    font-weight: bold;
    transition: box-shadow, 0.2s ease;
    white-space: nowrap;
    display: inline-block;
    align-content: center;
}

nav a:hover,
footer .colonne a[download="CV Zakrzewski Raphaël"]:hover {
    box-shadow: 0 0 15px #beffa5;
    color: white;
}

nav button a {
    text-decoration: none; /* Supprimer le soulignement */
    color: inherit; /* Hériter la couleur du bouton */
    display: block; /* Pour que l'ancre prenne tout l'espace du bouton */
}

.bouton-space {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.svg-background-nav {
    position: absolute; /* Positionnement absolu pour qu'il soit derrière le footer */
    top: 0;
    left: 0;
    z-index: 0; /* Doit être inférieur au footer */
    width: 100%;
    overflow: hidden;
}

.svg-background-footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0; /* Doit être en dessous du footer */
    margin-top: -26%;
}

.svg-background-nav svg,
.svg-background-footer svg {
    width: 100%;
    height: auto;
    display: block;
}

/* Styles de base pour le switch */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2em;
    height: 3.5em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #beffa5;
    transition: .5s;
    border-radius: 30px;
}

.slider:hover {
    box-shadow: 0 0 15px #beffa5;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 15%;
    bottom: 10%;
    box-shadow: inset 8px -4px 0px 0px #0d2000;
    background: #beffa5;
    transition: .5s;
}

input:checked + .slider:before {
    transform: translateY(-100%);
    box-shadow: inset 15px -4px 0px 15px #0d2000;
}

/* Styles pour les thèmes light et dark */
body.light {
    background-color: #ffffff;
    color: #000000;
}

body.dark {
    background-color: #000000;
    color: #ffffff;
}

/* Largeur de la scrollbar */
::-webkit-scrollbar {
    width: 13px;
}

/* Fond de la scrollbar */
::-webkit-scrollbar-track {
    background: #beffa5;
}

/* Curseur de la scrollbar */
::-webkit-scrollbar-thumb {
    background: #0d2000;
    border-radius: 5px;
}

/* Curseur de la scrollbar au survol */
::-webkit-scrollbar-thumb:hover {
    background: #040c00;
}

section[id="intro"] {
    color: #0d2000;
    margin-top: 100px;
    font-family: "Kaushan Script", cursive;
    font-size: 40px;
    width: 70%;
}

section[id="intro"] p{
    font-size: 30px;
}

section[id="moi"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #efffe8;
    margin-top: 400px;
    padding: 40px 0;
}

section[id="moi"] h1 {
    text-align: center;
    color: #0d2000;
    font-family: "Kaushan Script", cursive;
    font-size: 50px;
    margin-bottom: 30px;
    width: 100%;
}

section[id="scolaire"],
section[id="pro"] {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
    width: 85%;
}

section[id="scolaire"] h1,
section[id="pro"] h1 {
    margin-bottom: 50px;
    color: #0d2000;
    font-family: "Kaushan Script", cursive;
    font-size: 50px;
}

section[id="scolaire"] .content,
section[id="pro"] .content {
    transition: all 0.2s ease-in-out;
}

section[id="scolaire"] .content:hover,
section[id="pro"] .content:hover {
    transform: scale(1.1);
}

section[id="scolaire"] .content h1,
section[id="pro"] .content h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

section[id="scolaire"] .content p,
section[id="pro"] .content p {
    color: #0d2000;
    font-family: "Kaushan Script", cursive;
    font-size: 20px;
}

.container-moi {
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    background-color: #beffa5;
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.timeline-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.timeline {
    position: absolute;
    width: 3px;
    background-color: #0d2000;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.checkpoint {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.checkpoint::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #beffa5;
    border: 3px solid #0d2000;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.content {
    width: 40%;
    padding: 15px 20px;
    border-radius: 8px;
    position: relative;
    color: #0d2000;
}

.checkpoint:nth-child(odd) .content {
    text-align: right;
    margin-right: auto;
}

.checkpoint:nth-child(even) .content {
    text-align: left;
    margin-left: auto;
}

footer a {
    color: #beffa5;
}

footer a:hover {
    text-decoration: underline;
}

footer a img {
    width: 30px;
    transition: all 0.2s ease-in-out;
}

footer a img:hover {
    transform: scale(1.1);
}

footer .colonne {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
}

footer span {
    font-size: 20px;
}

.separation {
    width: 2px;
    background-color: #beffa5;
    padding: 20px 0;
}

footer .colonne a[download="CV Zakrzewski Raphaël"] {
    margin-top: 20px;
    border-radius: 20px;
    font-size: 25px;
}

.colonne p span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 2px;
}

.colonne .logo {
    display: flex;
    justify-content: center;
    gap: 20px;
}