/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
}
html, body {
    height: 100%;
}
a {
    text-decoration: none;
}

/* Typography */
h1 {
    margin-bottom: 20px;
}
.formulaire h1 { margin-bottom: 10px; }
.formulaire-info h1 { margin-bottom: 40px; }
.colonne h1 { color: #00cff7; }

p {
    margin-bottom: 15px;
}
.colonne p, 
.colonne a { 
    margin-bottom: 10px; 
}
.container-contact p { 
    margin-bottom: 0; 
}
.colonne .container-contact a {
    display: flex;
    align-items: center;
}
.exo-2- {
    font-family: "Exo 2", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Containers */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container-contact,
.container-container-formulaire,
.container-formulaire,
.container-formulaire .formulaire-info,
.container-formulaire .formulaire {
    display: flex;
}
.container-contact {
    margin-bottom: 15px;
}
.container-container-formulaire {
    justify-content: center;
    color: rgb(0 36 104);
    margin-top: 100px;
    margin-bottom: 200px;
}
.container-formulaire {
    width: 75%;
    justify-content: center;
}
.container-formulaire .formulaire-info {
    flex-direction: column;
    width: 27%;
    margin-right: 10%;
}
.container-formulaire .formulaire {
    flex-direction: column;
    width: 59%;
    justify-content: center;
}

/* Forms */
.container-formulaire .formulaire label {
    margin: 20px 0 7px;
    font-size: 18px;
}
.container-formulaire .formulaire textarea {
    min-height: 75px;
}
.container-formulaire .formulaire input,
.container-formulaire .formulaire textarea,
.submit {
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #00cff7;
    font-size: 16px;
}
.container-formulaire .formulaire input:focus,
.container-formulaire .formulaire textarea:focus {
    box-shadow: 0 0 3px #00cff7;
    outline: none;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.submit {
    margin-top: 25px;
    background-color: rgb(0 36 104);
    color: #fff;
    border: none;
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.submit:hover {
    cursor: pointer;
    background-color: rgb(0, 30, 85);
    box-shadow: 0 0 20px -5px #00cff7;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #e6f6ff;
}
header::after {
    content: "";
    height: 50px;
    margin-top: 100px;
    width: 100%;
    background: linear-gradient(to bottom, #e6f6ff 0%, #e6f6ff00 100%);
    position: absolute;
    z-index: 5;
}
.header-index {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 10;
    position: relative;
}
.header-index img,
header img {
    width: 180px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(0 36 104);
    position: relative;
    bottom: 0;
}
.container-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 30px;
}
.container-footer a,
.container-footer .colonne {
    color: white;
}
.container-footer a {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 5px;
}
.container-footer .colonne {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.logo .colonne {
    width: 300px;
    display: flex;
    align-items: center;
}
.logo .colonne img {
    width: 250px;
    margin-bottom: 30px;
}
.container-colonne {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.colonne a{
    display: inline-block;
    cursor: default;
}
.colonne span:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Buttons */
.bouton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 55px;
}
.bouton a {
    padding: 8px 5px;
    color: rgb(0 36 104);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.bouton a:hover,
.dropdown:hover > a {
    box-shadow: inset 0 -3px 0 0 rgb(0 36 104);
    transition: all 0.2s;
    z-index: 101;
    position: relative;
}
.bouton .contact {
    padding: 12px 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid rgb(0 36 104);
    border-radius: 50px;
    box-shadow: inset 0 0 2px 0 rgb(0 36 104);
}
.bouton .contact:hover {
    box-shadow: inset 0 0 6px 0 rgb(0 36 104);
}
.bouton a.active {
    box-shadow: inset 0 -3px 0 0 rgb(0 36 104);
}
.bouton a.active-contact {
    box-shadow: inset 0 0 6px 0 rgb(0 36 104);
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown a {
    margin: 0;
}
.dropdown svg {
    margin: 2px 0 0 2px;
}
.header-index .dropdown-menu {
    display: block;
    opacity: 0;
    transform: translate(-50%, -25px);
    position: absolute;
    top: 100%;
    left: 50%;
    list-style: none;
    z-index: 100;
    border-radius: 15px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    width: auto;
    min-width: 100%;
    padding: 8px 0;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 5px 15px rgba(0, 36, 104, 0.35);
    backdrop-filter: blur(15px);
}
header .dropdown-menu {
    display: block;
    opacity: 0;
    transform: translate(-50%, -25px);
    position: absolute;
    top: 100%;
    left: 50%;
    list-style: none;
    z-index: 100;
    border-radius: 0 0 20px 20px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    width: auto;
    min-width: 100%;
    box-shadow: 0 0 10px 0 #e6f6ff;
    background-color: #e6f6ff;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translate(-50%, 0px);
    pointer-events: auto;
}
.dropdown-menu li {
    margin: 0;
}
.dropdown-menu li a {
    padding: 16px 20px;
    color: rgb(0 36 104);
    font-size: 20px;
}
.dropdown-menu a:hover {
    text-decoration: underline;
    box-shadow: none;
}

/* Main */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Entete */
.entete {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background: transparent;
    mix-blend-mode: screen;
}

.entete .texte {
    z-index: 1;
    color: rgb(0 36 104);
    display: flex;
    margin: 300px;
    width: 40%;
    font-size: 30px;
    flex-direction: column;
    position: relative;
}
.entete-formulaire {
    margin-top: 20px;
}

/* Services */
.container-service {
    background-color: #e6f6ff;
    width: 100%;
    height: 250px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.container-service .service {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: rgb(0 36 104);
    width: 310px;
    height: 95px;
    border-radius: 40px;
    padding: 30px;
    text-align: center;
    transition: all 0.3s ease;
}
.container-service .service:hover {
    scale: 1.05;
}
.container-service .service img {
    width: 60px;
    margin-right: 35px;
}
.container-service .service .texte {
    height: 100%;
    text-align: left;
}
.container-service .service .texte h1 {
    font-size: 25px;
    margin-bottom: 5px;
}
.container-service .service .texte p {
    font-size: 16px;
    margin: 0;
}
.container-service::before,
.container-service::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    pointer-events: none;
    z-index: 1;
}
.container-service::before {
    top: -100px;
    background: linear-gradient(to bottom, rgba(230, 246, 255, 0) 0%, #e6f6ff 100%);
    z-index: 10;
}
.container-service::after {
    bottom: -100px;
    background: linear-gradient(to top, rgba(230, 246, 255, 0) 0%, #e6f6ff 100%);
}

/* Icônes & SVG */
.contact span {
    display: block;
    margin-left: 0.4em;
    font-size: 20px;
}
.contact svg, .container-contact svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.2s ease-in-out;
}
.contact:hover svg, .container-contact a:hover svg {
    transform: rotate(45deg);
}
.container-contact img, .container-contact svg {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

/* Localisation / Map */
.container-zone-livraison {
    width: 100%;
}
.localisation {
    display: flex;
    justify-content: space-evenly;
    margin: 100px;
}
.texte-localisation {
    flex-direction: column;
    color: rgb(0 36 104);
    font-size: 23px;
    width: 35%;
}
.texte-localisation h1 {
    margin-bottom: 20px;
}
#map {
    width: 30%;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0px 20px 0 #cbf6ff;
    z-index: 1;
}

/* Download button */
.download-btn {
    background-color: rgb(0 36 104);
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
}
.download-btn:hover {
    background-color: rgb(0, 30, 85);
    box-shadow: 0 0 20px -5px #00cff7;
}

/* Produits / Marchés */
.container-container-produit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin-top: 70px;
}
.container-produit {
    margin: 0 0 50px 0;
    padding: 20px 0;
    display: flex;
    color: rgb(0 36 104);
}
.container-produit img {
    width: auto;
    height: 450px;
    margin-right: 70px;
    border-radius: 70px;
    background-color: #e6f6ff;
    transition: all 0.3s ease;
}
.container-produit img:hover {
    scale: 1.05;
}
.container-produit p {
    padding: 0px;
}
.container-produit .produit {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-size: 20px;
}
.container-container-marches {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px 0;
}
.container-container-marches h1 {
    margin: 40px 10px 5px 20px;
    font-size: 40px;
    margin-right: 57%;
    min-width: 420px;
}
.container-marches {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: #e2fbff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #e2fbff;
}
.marches {
    flex: 1;
    display: flex;
}
.marches p {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    font-size: 22px;
    line-height: 1.5;
    border-left: 1px solid #00cff7;
}
.container-marches img {
    width: 40%;
    border-radius: 5px 60px;
    margin-right: 20px;
}
.container-container-offre {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-bottom: 150px;
}
.container-container-offre .texte {  
    margin-right: 100px;
    color: rgb(0 36 104);
    width: 400px;
    font-size: 20px;
}
.container-offre {
    display: flex;
    gap: 60px;
}
.offre {
    display: flex;
    flex-direction: column;
    background-color: #e6f6ff;
    border-radius: 20px;
    padding: 0 30px 50px 30px;
    width: 330px;
    height: 400px;
    box-shadow: 0px 10px 15px -5px rgba(0, 207, 247, 0.4);
    color: rgb(0 36 104);
    transition: all 0.3s ease;
}
.offre:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 15px -5px rgba(0, 207, 247, 0.4);
}
.offre img {
    width: 150px;
    padding: 20px;
}
.offre h1 {
    font-size: 25px;
}
.offre a {
    display: flex;
    text-decoration: none;
    width: auto;
    margin-top: auto;
    cursor: default;
}
.offre-link-content {
    display: flex;
    align-items: center;
    color: #00cff7;
    transition: all 0.3s ease;
    font-weight: 650;
    font-size: 18px;
}
.offre-link-content:hover {
    color: #0099b8;
    cursor: pointer;
}
.offre-link-content svg {
    opacity: 0;
    transition: all 0.3s ease;
    margin-top: 8px;
}
.offre-link-content:hover svg {
    opacity: 1;
    margin-left: 6px;
}
.legal {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.legal p,
.legal a{
    color: #00cff7;
}
.legal a:hover {
    text-decoration: underline;
    color: #0099b8;
}
.checkbox-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.checkbox-container input[type="checkbox"] {
    accent-color: #00cff7;
}
.formulaire .checkbox-container label {
    font-size: 13.5px;
    margin: 0 0 0 5px;
}
label a {
    color: #00cff7;
}
label a:hover {
    color: #0099b8;
    text-decoration: underline;
}
.titre {
    font-size: 30px;
    color: rgb(0 36 104);
    margin: 70px 0 10px 0;
}
.container-confidentialite {
    display: flex;
    flex-direction: column;
    width: 70%;
    line-height: 30px;
    color: rgb(0 36 104);
}
.container-confidentialite h2 {
    font-size: 30px;
    margin-bottom: 5px;
}
.container-confidentialite p {
    font-size: 18px;
}
.container-confidentialite i,
.container-confidentialite p {
    margin-bottom: 25px;
}
.container-confidentialite ul {
    list-style: none;
    margin: -20px 0 10px 0;
    font-size: 18px;
}
.container-confidentialite ul strong {
    font-size: 20px;
}
.container-confidentialite a {
    color: #00cff7;
}
.container-confidentialite a:hover {
    color: #0099b8;
    text-decoration: underline;
}
.produit .bottom p {
    margin: 15px 0;
    font-size: 15px;
    font-style: italic;
}
.epi {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin: 50px 0;
}
.container-epi {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6f6ff;
    padding-bottom: 50px;
}
.container-epi .texte {
    width: 70%;
    margin-bottom: -30px;
}
.container-epi p {
    color: rgb(0, 30, 85);
    font-size: 20px;
}
.epi {
    padding: 50px 0;
}
.epi img {
    width: 250px;
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.epi img:hover {
    scale: 1.1;
}
.colonne .logo {
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.container-container-index-marches {
    background-color: #e6f6ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 30, 85);
}
.container-container-index-marches .texte {
    width: 80%;
}
.container-container-index-marches .texte p {
    font-size: 20px;
}
.container-index-marches {
    margin: 70px 0 150px 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.index-marches {
    width: 308px;
    height: 130px;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}
.index-marches:hover {
    scale: 1.05;
}
.index-marches img {
    height: 80px;
    margin-right: 15px;
}
.index-marches h3 {
    margin-bottom: 5px;
}